body {
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
  }
  
  .calculator {
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
  }
  
  h1 {
    color: white;
    text-align: center;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .display-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #display {
    width: 240px;
    font-size: 24px;
    padding: 5px;
    text-align: right;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
  }
  
  .button-row {
    display: flex;
  }
  
  .button {
    width: 50px;
    height: 50px;
    font-size: 24px;
    margin: 5px;
    background-color: #444;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .button:hover {
    background-color: #666;
  }
  
  .operator {
    background-color: #FF8C00;
    color: #222;
  }

  .operator:hover {
    background-color: #FFA500;
  }